.features-boxed {
  background: url("../../assets/img/bg-c-02.png") right/ 350px no-repeat;
  font-family: Poppins, sans-serif!important;
  color: #313437;
  background-color: #0a0a0a;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, rgba(38,38,38,0.3) 0%, rgba(251,194,235,0) 100%);
  margin-bottom: 30px;
}

.features-boxed .item .name {
  color: #ededed;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
}

