.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#large-header {
  background-image: url("../../assets/img/212-2124160_4uv0t9-blue-polygon-wallpaper-4k.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: left;
  top: 55%;
  left: 30%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 25px;
  }
}

#parent {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: white;
  position: relative;
}

/* Animation */

#parent {
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}

/* cursor animations */

